# Assess & Clean Data

Load raw data, assess, clean and save in proper sets.


### Data Sources

- portfolio.json - containing offer ids and meta data about each offer (duration, type, etc.)
- profile.json - demographic data for each customer
- transcript.json - records for transactions, offers received, offers viewed, and offers completed

### Changes

- 2018-12-19: Started project

In [3]:
# load libraries

import numpy as np
import pandas as pd
from tqdm import tqdm

# my own custom functions
import EDA_functions as EDA
import cleaning_functions as cleaning

# visualization
import matplotlib.pyplot as plt
import seaborn as sns #, sns.set_style('whitegrid')
color = 'rebeccapurple'
%matplotlib inline

# display settings
from IPython.display import display
pd.options.display.max_columns = None

from pathlib import Path  # to make file path references relative to notebook directory

In [4]:
# import data

portfolio_file = Path.cwd() / "data" / "raw" / "portfolio.json"
profile_file = Path.cwd() / "data" / "raw" / "profile.json"
transcript_file = Path.cwd() / "data" / "raw" / "transcript.json"

portfolio = pd.read_json(portfolio_file, orient='records', lines=True)
profile = pd.read_json(profile_file, orient='records', lines=True)
transcript = pd.read_json(transcript_file, orient='records', lines=True)

### Check portfolio data

In [6]:
portfolio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
channels      10 non-null object
difficulty    10 non-null int64
duration      10 non-null int64
id            10 non-null object
offer_type    10 non-null object
reward        10 non-null int64
dtypes: int64(3), object(3)
memory usage: 560.0+ bytes

In [7]:
portfolio

,channels,difficulty,duration,id,offer_type,reward
0,"[email, mobile, social]",10,7,ae264e3637204a6fb9bb56bc8210ddfd,bogo,10
1,"[web, email, mobile, social]",10,5,4d5c57ea9a6940dd891ad53e9dbe8da0,bogo,10
2,"[web, email, mobile]",0,4,3f207df678b143eea3cee63160fa8bed,informational,0
3,"[web, email, mobile]",5,7,9b98b8c7a33c4b65b9aebfe6a799e6d9,bogo,5
4,"[web, email]",20,10,0b1e1539f2cc45b7b9fa7c272da2e1d7,discount,5
5,"[web, email, mobile, social]",7,7,2298d6c36e964ae4a3e7e9706d1fb8c2,discount,3
6,"[web, email, mobile, social]",10,10,fafdcd668e3743c1bb461111dcafc2a4,discount,2
7,"[email, mobile, social]",0,3,5a8bc65990b245e5a138643cd4eb9837,informational,0
8,"[web, email, mobile, social]",5,5,f19421c1d4aa40978ebb69ca19b0e20d,bogo,5
9,"[web, email, mobile]",10,7,2906b810c7d4411798c6938adc9daaa5,discount,2

Explanations: 
- id (string) - offer id
- offer_type (string) - type of offer ie BOGO (buy-one-get-one-free), discount, informational
- difficulty (int) - minimum required spend to complete an offer
- reward (int) - reward given for completing an offer
- duration (int) - 
- channels (list of strings)

### Check profile data

In [9]:
profile.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 5 columns):
age                 17000 non-null int64
became_member_on    17000 non-null int64
gender              14825 non-null object
id                  17000 non-null object
income              14825 non-null float64
dtypes: float64(1), int64(2), object(2)
memory usage: 664.1+ KB

In [10]:
profile.head()

   age  became_member_on gender                                id    income
0  118          20170212   None  68be06ca386d4c31939f3a4f0e3dd783       NaN
1   55          20170715      F  0610b486422d4921ae7d2bf64640c50b  112000.0
2  118          20180712   None  38fe809add3b4fcf9315a9694bb96ff5       NaN
3   75          20170509      F  78afa995795e4d85b5d9ceeca43f5fef  100000.0
4  118          20170804   None  a03223e636434f42ac4c3df47e8bac43       NaN

Explanations:

* age (int) - age of the customer 
* became_member_on (int) - date when customer created an app account
* gender (str) - gender of the customer (note some entries contain 'O' for other rather than M or F)
* id (str) - customer id
* income (float) - customer's income

### Check transcript data

In [12]:
transcript.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306534 entries, 0 to 306533
Data columns (total 4 columns):
event     306534 non-null object
person    306534 non-null object
time      306534 non-null int64
value     306534 non-null object
dtypes: int64(1), object(3)
memory usage: 9.4+ MB

In [22]:
transcript.sample(100)

,event,person,time,value
94151,offer completed,8296312262cd4cc19872e53ad1e10345,246,{'offer_id': '2298d6c36e964ae4a3e7e9706d1fb8c2...
49107,transaction,81e6836cba764009a168d84bb936c56a,138,{'amount': 1.3599999999999999}
258251,offer completed,8e508511652c446a9debf0c20f5f5163,576,{'offer_id': '2906b810c7d4411798c6938adc9daaa5...
177163,transaction,f3934f05d51f47c7a470661cbb774075,426,{'amount': 8.57}
19934,transaction,e5d3238906284a18814d35787c9df9d8,12,{'amount': 0.39}
93921,transaction,cf0ee2e478b7446c9c07a63c35508464,246,{'amount': 13.83}
29867,transaction,e907946cc01e4e11b814b1ab946755a0,48,{'amount': 2.14}
29197,transaction,edcddc3f57f34f09a049559d2606cf6b,42,{'amount': 0.44}
203885,offer received,a79f46d98c1944db936847503b1eaa29,504,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'}
240850,transaction,d27b2ed395fc4f1d814de65eb0815c95,558,{'amount': 21.25}
296703,transaction,171c7f6ef14c416a87ac8907c58202ed,672,{'amount': 1.37}
15124,offer viewed,5fc8a1b567864ebc86bc8fe1672a5238,0,{'offer id': '4d5c57ea9a6940dd891ad53e9dbe8da0'}
257448,offer received,6567a7e869724cd38c3b3d9dc05f64a3,576,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'}
218976,offer completed,c6bab8832fd043e5b81dc5f0b587ec6d,510,{'offer_id': '4d5c57ea9a6940dd891ad53e9dbe8da0...
5354,offer received,d162eae1102148a9883683a11f4f05f4,0,{'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'}
222885,transaction,eb1c40b0ca1b4d34846bcc28e4bb858f,516,{'amount': 1.43}
211742,offer received,710d668e9aa84e07a9d5cedc915197f2,504,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'}
117189,offer received,34e99d0c0bf242ef8cc4bb601c93fd16,336,{'offer id': '2298d6c36e964ae4a3e7e9706d1fb8c2'}
138996,transaction,4affa3ba745a4d2ab94abe96d963d3ac,366,{'amount': 1.99}
1409,offer received,c0a71ad1634e4a2e8468deae1acb09bb,0,{'offer id': 'f19421c1d4aa40978ebb69ca19b0e20d'}
182185,transaction,945bc11409e943ea8fb7a23f28ddd00e,438,{'amount': 3.52}
54905,offer received,c904a6699db54225931ef82552f3f9ea,168,{'offer id': '2906b810c7d4411798c6938adc9daaa5'}
38051,transaction,15e8cabbde0f40228658245d340af15d,78,{'amount': 13.67}
30516,offer completed,7a30763c05734cb3bd14123e1b6b9d63,48,{'offer_id': '2298d6c36e964ae4a3e7e9706d1fb8c2...
166126,transaction,482bfde0e0bb47d7bc5f4c45b8a892d0,408,{'amount': 0.30000000000000004}
7924,offer received,4af9cd0e7a6746908f0ef09628ff3f84,0,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'}
81793,offer viewed,a9ef494d007245e9b94c2ff661859c51,204,{'offer id': '3f207df678b143eea3cee63160fa8bed'}
287615,transaction,48f095b4534c4a0d8bf7e739e0242609,636,{'amount': 13.67}
224591,transaction,2fbbdca82a9c45d6898d5a18d0227410,516,{'amount': 14.34}
53428,offer received,cdc70ea5dcfa497bb0c53b3fc20f3691,168,{'offer id': '2298d6c36e964ae4a3e7e9706d1fb8c2'}
...,...,...,...,...
83587,transaction,bf3292eafc2f468ea68d4f5b0e8fa35a,210,{'amount': 16.47}
51898,transaction,ef4ba06a65bb4dd19abc8dcb53b70a49,156,{'amount': 0.5}
283934,offer completed,5b6a385fbe5741c7b9ba20f9227bcda1,624,{'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4...
286256,transaction,2975799195d449efaa81e495cdabd1ed,636,{'amount': 19.33}
12967,transaction,db691240326b44d8bfa7b438c4c41982,0,{'amount': 0.05}
31696,offer completed,63996e7147c44a208bfdcd92ef0f49f7,54,{'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4...
92486,transaction,86b493a2b7554a11aedf51eca0c6b033,240,{'amount': 12.34}
165843,offer completed,4fda52477b9c4371b1383c21047e46ab,408,{'offer_id': '9b98b8c7a33c4b65b9aebfe6a799e6d9...
217771,transaction,77fa13a472824e33aaeb9aaeb2c23408,504,{'amount': 10.58}
264944,transaction,d1f564d61cb845a8874e58f607faaacd,582,{'amount': 8.28}
157577,offer received,43926e6dd27749ceb73a1e851679aa66,408,{'offer id': 'ae264e3637204a6fb9bb56bc8210ddfd'}
84281,transaction,36c3f21fa1ea4c15966a04e8ee375a34,210,{'amount': 6.21}
52913,transaction,afe18417cb5241e5b76cb3a5b1ca661e,162,{'amount': 3.9699999999999998}
301506,transaction,26dc576d0d0746ddb3c3fd18dce6c904,690,{'amount': 20.8}
30305,transaction,66412cc34dd640749fa80e5b8d4d8d18,48,{'amount': 1.53}
252919,offer received,a0ece5ddc7014614a12c40d32128c938,576,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}
60827,offer received,1eab10bfe6e84352813a29ef0001f2f2,168,{'offer id': '2906b810c7d4411798c6938adc9daaa5'}
165000,offer viewed,ffc77312ccda49fca19506f1cdf44923,408,{'offer id': 'ae264e3637204a6fb9bb56bc8210ddfd'}
286779,transaction,1cea9d080f954162be68dad85af77fb6,636,{'amount': 0.44}
128839,offer viewed,2997992e556b44cf9a69bbf92bf35690,342,{'offer id': '5a8bc65990b245e5a138643cd4eb9837'}
223057,offer viewed,628d90cb330a4c42aca731c80e06f7ec,516,{'offer id': '2906b810c7d4411798c6938adc9daaa5'}
98011,transaction,19d4ada4982f455eae1915f01e7b0577,264,{'amount': 1.58}
90893,offer completed,6406abad8e2c4b8584e4f68003de148d,234,{'offer_id': 'f19421c1d4aa40978ebb69ca19b0e20d...
299051,offer completed,33ccbda880444190b6f69186eb5ac8cb,678,{'offer_id': '2906b810c7d4411798c6938adc9daaa5...
170886,transaction,75d248be69924f96abe06b644dd0b1c6,414,{'amount': 11.22}
48316,transaction,90e9f6de2d6f4830b544b4524a509f84,132,{'amount': 7.51}
249855,offer received,6d9eecd1322c4bb8aeedfe691178b96c,576,{'offer id': 'ae264e3637204a6fb9bb56bc8210ddfd'}
163884,transaction,1a22d7cf63ae41dcb521c1b6da28adfc,408,{'amount': 5.53}
302096,transaction,3dace629913c4771809eea9c48bdc1ec,696,{'amount': 1.37}
106963,transaction,0ac5ffb0f1624297a453494b845e1a91,312,{'amount': 7.75}

Explanations:
* event (str) - record description (ie transaction, offer received, offer viewed, etc.)
* person (str) - customer id
* time (int) - time in hours after start of 30 days test period. The data begins at time t=0
* value (dict of strings) - either an offer id or transaction amount depending on the record

**Tasklist**

Cleaning tasks:
- portfolio: rename `id` col to `offer_id`
- portfolio: one-hot-encode `channels`
- portfolio: add `prop_reward` (`income` / `difficulty`)
- portfolio add `rel_difficulty` (`difficulty` / `duration` in days)
- portfolio: add `duration_hours` col 
- profile: rename `id` col to `person_id`
- profile: change dtype of `became_member_on`to datetime
- profile: transform `became_member_on` into a duration integer (days, starting from maxdate)
- transcript: rename `person` to `person_id`
- all files: simplify ids

Further preparation tasks:
- transcript: flag every transaction if within valid period of a viewed promotion
- profile: add infos about consumption (number of purchases, amount per day etc.)
    - (could later be done per promo)